.panel-title-1 {
    flex-basis: 0;
}

.panel-description-1 {
    flex-basis: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.panel-title-2 {
    flex-basis: 0;
}

.panel-description-2 {
    flex-basis: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.panel-title-3 {
    flex-basis: 0;
}

.panel-description-3 {
    flex-basis: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

